* {
	text-align: center;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #42648b;
}

h1{
	color: #fff;
}

a{
	text-decoration: none;
}

p{
	padding: 0;
	margin: 0;
}

.wrapper{
	box-sizing: border-box;
	height: 100vh;
	background: #45688E;
	padding-top: 15vh;
}

#openid{
	font-size: 20px;
	height: 50px;
	width: 80vw;
	border: none;
	padding: 0;
	margin: 0;
	margin-top: 20px;
}

.search{
	font-size: 20px;
	height: 50px;
	width: 80vw;
	background: #305075;
	color: #fff;
	border: none;
	margin: 0;
	padding: 0;
}

.search:hover{
	background: #45688E;
}

.res{
	/*padding: 10px;*/
	max-height: 36vh;
	width: 80vw;
	background: #fff;
	overflow : scroll;
	margin: 0 auto;
	clear: both;
	overflow-x: hidden;
}

.person{
	padding-top: 15px;
	box-sizing: border-box;
	border-bottom: 1px #e7e8ec solid;
	border-right: 1px #e7e8ec solid;
	display: block;
	height: 80px;
	width: 33.33333333%;
	float: left;
	text-align: left;
}

.person img{
	margin-left: 20px;
	float: left;
	border-radius: 50%;
}

.person a span{
	padding-top: 20px;
	margin-left: 20px;
	vertical-align: middle;
}

.person:nth-child(3n){
	border-right: none;
}

@media (max-width: 768px){
	.person{
		width: 50%;
	}
}

@media (max-width: 500px){
	.person{
		width: 100%;
	}
}