<!-- extend base layout -->
<html>
    <head>
        <title>vk friends</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <h1>Sign In</h1>
        <form action="" method="post" name="login">
            {{ form.hidden_tag() }}
            <p>
                Please enter your OpenID, or select one of the providers below:<br>
                {{ form.openid(size=80) }}
                {% for error in form.openid.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}<br>
            </p>
            <p><input type="submit" value="Sign In"></p>
        </form>
        {% for post in a %}
        <p>
          {{ post }}
        </p>
        {% endfor %}
    </body>
</html>